.footer {
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    background-image: url('./../../images/bg_footer.png');
    justify-content: end;
}

.menu_container {
    display: flex;
}

.copyright {
    margin-right: 30px;
    color: white;
    cursor: default;
}

