.header {
    height: 110px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: #ebecec;
}

.menu_container {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.menu_item {
    margin-left: 12px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #53524f;
}

.menu_item:hover {
    color: #fd3400;
    transition: .2s ease-in;
}

.menu_item_active {
    margin-left: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #fd3400;
    cursor: default;
}

.telephone_wrapper {
    margin-left: 70px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #53524f;
    cursor: default;
}

.telephone_icon {
    margin-right: 3px;
    height: 23px;
    width: 23px;
    background-image: url('./../../images/phone1.png');
    background-size: 100% 100%;
}

.telephone_numbers {
    display: flex;
    flex-direction: column;
}

.breadcrumbs {
    height: 40px;
    margin-top: 117px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.breadcrumbs li:not(:first-child) {
    margin-left: 15px;
}

.breadcrumb:not(:last-child)::after {
    color: #53524f;
    margin-left: 5px;
    content: " >";
}

.breadcrumb_pointer_disable {
    display: none;
}

.breadcrumb a {
    color: #53524f;
}

.breadcrumb a:hover {
    color: red;
}

.breadcrumb_last {
    color: rgb(182, 177, 177);
    pointer-events: none;
}