.header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: #ebecec;
    overflow: hidden;
}

.header_items_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

.header_top_items_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}



.header_bottom_items_container {
    margin-top: 45px;
    flex-direction: row;
    justify-content: center;
}

.menu_container {
    margin: 0 auto;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    /* padding-bottom: 20px; */
    /* border: 1px solid red; */
    height: 80px;
    align-items: center;
}

.menu_item {
    font-size: 1.5vw;
    font-weight: 500;
    text-decoration: none;
    color: #53524f;
    /* text-align: center; */
}

/* .menu_item:not(first-child):not(last-child) {
    margin-left: 25px;
} */

.menu_item_active {
    /* margin-left: 12px;
    font-weight: 500;
    text-decoration: none;
    cursor: default; */
    color: #fd3400;
}

.menu_item:hover {
    color: #fd3400;
    transition: .2s ease-in;
}
 


/* ///////////////////1600///////////// */

@media all and (min-width: 1600px) {
    .header_search {
        border: 2px solid #53524f;
        border-radius: 3px;
    }
    
    .header_search input {
        width: 23vw;
        height: 3.8vh;
        outline: none;
        padding: 5px;
        font-size: 18px;
    }
    
    .header_search_ico img{
        height: 3.8vh;
        width: 3vw;
        padding: 8px;
        border-left: 2px solid #53524f;
        cursor: pointer;
    }

    .menu_item {
        font-size: 1.8vw;
        font-weight: 500;
        text-decoration: none;
        color: #53524f;
        /* text-align: center; */
    }

   
}
