.main_about {
    width: 100%;
    height: 100%;
}

.about_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about_description {
    margin-top: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    hyphens: auto;
    margin-bottom: 15px;
}

.about_description p {
    font-size: 22px;
    color: #53524f;
    width: auto;
    text-indent: 30px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 15px;
    text-align: justify;
   
}

.about_address {
    color: #53524f;
    border-right: 1.5px solid#53524f;
    border-left: 1.5px solid#53524f;
    font-size: 45px;
    display: flex;
    flex-direction: column;
}

.about_address_description {
    margin-top: 7vh;
    padding-left: 30px;
}

.about_address_description_column {
    display: none;
}

.about_search_column {
    display: none;
}

.about_address_item {
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    margin-bottom: 10px;
}


.yandex_map {
    color: #53524f;
    display: flex;
    border-right: 1px solid #53524f;
}

.about_search {
    padding-left: 20px;
    margin-top: 15vh;
    margin-right: 30px;
    font-size: 45px;
}

.yandex_map iframe {
    height: 100%;
}

.about_scroll_top_button {
    /* display: none; */
}


/* MEDIA QUERY !!!!!!!!!!11111111111!!!!!!!!!!!!!!!!!!!!!!!!11111111111!
!!!!!!!!!!!!!!1111111!!!!!!!!!!!!!!!! */

@media all and (max-width: 1185px) {
    .about_wrapper {
        flex-direction: column;
    }

    .about_description {
        width: 100%;
    }

    .about_description p {
        margin-top: 5px;
        font-size: 3.5vw;
        text-align: left;
        text-indent: 4vw;
        padding-bottom: 10px;
    }

    /* /// */

    .about_address {
        border-left: none;
        border-right: none;
        border-top: 1px solid black;
        width: 90%;
        margin: 0 auto;
        font-size: 4vw;
    }

    .about_address_description_row {
        display: none;
    }

    .about_address_description_column {
        display: block;
    }

    .about_address_description {
        margin-top: 1vh;
        text-align: center;
        font-size: 5.5vw;
    }

    .about_address_item {
        font-size: 4vw;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /* ///// */

    .yandex_map {
        border-right: none;
        flex-direction: column;
        border-top: none;
        border-top: 1px solid black;
        width: 90%;
        margin: 0 auto;
    }

    .about_search_row {
        display: none;
    }

    .about_search_column {
        display: block;
    }

    .about_search {
        padding-left: 0px;
        margin-top: 1vh;
        margin-right: 0px;
        text-align: center;
        font-size: 5.5vw;
    }

    .yandex_map iframe {
        margin: 0 auto;
        height: 65vh;
        width: 90vw;
        margin-top: -45px;
    }

    .about_scroll_top_button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 80px;
        height: 80px;
        top: 55vh;
        left: 80vw;
        background-color: rgba(253, 52, 0, 0.5);
        border-radius: 40px;
        color: rgb(255, 240, 240);
        z-index: 3;
        font-size: 40px;
        font-weight: bold;
    }
}


@media all and (max-width: 859px) {
    .main_about {
        margin-top: 35vh;
    }

    .about_description p {
        font-size: 3vw;
    }

    .about_address_description {
        padding-left: 10px;
    }
    .about_scroll_top_button {
        left: 75vw;
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
}

@media all and (max-width: 500px) {
    .about_description h1 {
        font-size: 6.5vw;
    }

    .about_description p {
        font-size: 4.8vw;
        text-align: justify;
    }

    /* /// */

    .about_address_description {
        font-size: 6.7vw;
    }

    .about_address_item {
        font-size: 5.5vw;
    }

    /* ///// */

    .about_search {
        font-size: 6.7vw;
    }

    .about_scroll_top_button {
        left: 70vw;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

@media only screen and (max-height : 670px){
    .about_scroll_top_button {
        top: 50vh;
    }
}

@media only screen and (max-height : 415px){
    .main_about {
        margin-top: 25vh;
    }
    .about_scroll_top_button {
        top: 45vh;
    }
}