.main {
  margin-top: 110px;
  flex: 1 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main_wrapper {
  background-image: url('./../../images/roofExpNobg2.png');
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}

.animation_top {
  position: relative;
  background-image: url('./../../images/animationFor/anim_logo.png');
  background-size: 100% 100%;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 450px;
  height: 90px;
  top: 8%;
  margin: auto;
  animation-duration: 1.2s;
  animation-name: slidetop;
  z-index: 10;
}

.animation_left {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 38px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  width: 400px;
  top: 150px;
  right: -24%;
  height: 50px;
  justify-content: center;
  animation-duration: 2.4s;
  animation-name: slideleft;
  z-index: 30;
  pointer-events: none;
}



.animation_right {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 38px;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  width: 400px;
  top: 150px;
  right: -50%;
  height: 50px;
  justify-content: center;
  animation-duration: 2.5s;
  animation-name: slideright;
  z-index: 30;
  pointer-events: none;

}


.main_button_more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  position: relative;
  bottom: -36%;
  left: calc(50% - (170px/2));
  background-image: url('./../../images/bg_button_2.png');
  color: white;
  border-radius: 5px;
  text-shadow: 2px 1px 1px black;
  font-size: 28px;
  width: 170px;
  height: 75px;
  outline-style: outset;
  outline-width: 1.7px;
  outline-color: rgb(48, 48, 46);
  cursor: pointer;
  transition: .2s;
  transform: scale(1);
  animation-duration: 2.5s;
  animation-name: slidebottom;
}

.main_button_more:hover {
  transition: .2s ease-in;
  width: 172px;
  height: 77px;
}


@keyframes slidetop {
  from {
    top: -8%;
  }

  to {
    top: 8%;
  }
}

@keyframes slideleft {
  from {
    right: 0;
  }

  to {
    right: -24%;
  }
}

@keyframes slideright {
  from {
    right: -74%;
  }

  to {
    right: -50%;
  }
}

@keyframes slidebottom {
  from {
    bottom: -80%;
  }

  to {
    bottom: -36%;
  }
}


/* Keyframes fro media (width)!!! */

@keyframes slideleft_viewport {
  from {
    right: 100vw;
  }

  to {
    right: 10vw;
  }
}

@keyframes slideright_viewport {
  from {
    left: 100vw;
  }

  to {
    right: -10vw;
  }
}

@keyframes slidebottom_viewport {
  from {
    top: 50vh;
  }

  to {
    top: 12vh;
  }
}

@keyframes slidetop_viewport {
  from {
    top: -15vh;
  }

  to {
    top: 0;
  }
}

/* Keyframes fro media (height)!!! */

@keyframes slideleft_viewport {
  from {
    right: 100vw;
  }

  to {
    right: 10vw;
  }
}

@keyframes slideright_viewport {
  from {
    left: 100vw;
  }

  to {
    right: -10vw;
  }
}

@keyframes slidebottom_viewport_height {
  from {
    top: 50vh;
  }

  to {
    top: 17vh;
  }
}

@keyframes slidetop_viewport {
  from {
    top: -15vh;
  }

  to {
    top: 0;
  }
}

/* MEDIA QUERY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media all and (max-width: 859px) {

  .main_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main {
    margin-top: 35vh;
    height: 60vh;
  }

  .animation_top {
    width: 45%;
    height: 10vh;
    margin: 0 auto;
    margin-top: 3vh;
    top: 0;
    animation-name: slidetop_viewport;
  }

  .animation_left {
    margin: 0 auto;
    top: 2.5vh;
    right: 10vw;
    animation-name: slideleft_viewport;
    animation-duration: 1.8s;
  }

  .animation_right {
    margin: 0 auto;
    left: 10vw;
    top: 4vh;
    animation-name: slideright_viewport;
    animation-duration: 2s;
  }

  .main_button_more {
    margin: 0 auto;
    top: 12vh;
    left: 0;
    animation-duration: 2.3s;
    animation-name: slidebottom_viewport;
  }

}

@media all and (max-width: 550px) {
  .main_wrapper {
    background-image: url('./../../images/mainBgSmall.png');
    background-size: 150vw 100%;
  }

  .animation_top {
    height: 8vh;
    margin-top: 3vh;
  }

  .animation_left {
    font-size: 6.5vw;
    width: 70vw;
  }

  .animation_right {
    font-size: 6.5vw;
    width: 70vw;
  }

  .main_button_more {
    width: 30vw;
    height: 14vw;
    font-size: 5vw;
  }

  .main {
    height: 50vh;
  }
}

@media only screen and (max-height : 455px) {
  .main {
    margin-top: 25vh;
  }
  .animation_top {
    width: 45%;
    height: 16vh;
    margin: 0 auto;
    margin-top: 7vh;
    top: 0;
    animation-name: slidetop_viewport;
  }

  .animation_left {
    margin: 0 auto;
    top: 5vh;
    right: 10vw;
    animation-name: slideleft_viewport;
    animation-duration: 1.8s;
  }

  .animation_right {
    margin: 0 auto;
    left: 10vw;
    top: 7vh;
    animation-name: slideright_viewport;
    animation-duration: 2s;
  }

  .main_button_more {
    margin: 0 auto;
    top: 17vh;
    left: 0;
    animation-duration: 2.3s;
    animation-name: slidebottom_viewport_height;
  }
}