.main {
  margin-top: 110px;
  flex: 1 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_wrapper {
  background-image: url('./../../images/roofExpNobg2.png');
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}

.animation_top {
  position: relative;
  background-image: url('./../../images/animationFor/anim_logo.png');
  background-size: 100% 100%;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 400px;
  height: 80px;
  top: 8%;
  margin: auto;
  animation-duration: 1.2s;
  animation-name: slidetop;
  z-index: 10;
}

.animation_left {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 34px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  width: 400px;
  top: 150px;
  right: -24%;
  height: 50px;
  justify-content: center;
  animation-duration: 2.4s;
  animation-name: slideleft;
  z-index: 30;
  pointer-events: none;
}



.animation_right {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 34px;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  width: 400px;
  top: 150px;
  right: -50%;
  height: 50px;
  justify-content: center;
  animation-duration: 2.5s;
  animation-name: slideright;
  z-index: 30;
  pointer-events: none;

}


.main_button_more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  position: relative;
  bottom: -36%;
  left: calc(50% - (170px/2));
  background-image: url('./../../images/bg_button_2.png');
  color: white;
  border-radius: 5px;
  text-shadow: 2px 1px 1px black;
  font-size: 28px;
  width: 170px;
  height: 75px;
  outline-style: outset;
  outline-width: 1.7px;
  outline-color: rgb(48, 48, 46);
  cursor: pointer;
  transition: .2s;
  transform: scale(1);
  animation-duration: 2.5s;
  animation-name: slidebottom;
}

.main_button_more:hover {
  transition: .2s ease-in;
  width: 172px;
  height: 77px;
}


@keyframes slidetop {
  from {
    top: -8%;
  }

  to {
    top: 8%;
  }
}

@keyframes slideleft {
  from {
    right: 0;
  }

  to {
    right: -24%;
  }
}

@keyframes slideright {
  from {
    right: -74%;
  }

  to {
    right: -50%;
  }
}

@keyframes slidebottom {
  from {
    bottom: -80%;
  }

  to {
    bottom: -36%;
  }
}

/* MEDIA QUERY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media all and (max-width: 853px) {

  .main_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .animation_top {
    width: 45%;
    height: 8vh;
    margin: 0 auto;
    margin-top: 30vh;
    z-index: 10;
    position: inherit;
  }



  .animation_left {
    position: inherit;
    margin: 0 auto;
    margin-top: 50px;
  }

  .animation_right {
    position: inherit;
    margin: 0 auto;
    margin-top: 20px;
  }

  .main_button_more {
    position: inherit;
    margin: 0 auto;
    margin-top: 14vw;
  }

}

@media all and (max-width: 550px) {
  .animation_top {
    margin-top: 2vh;
  }
  .animation_left {
    font-size: 6vw;
    width: 65vw;
  }

  .animation_right {
    font-size: 6vw;
    width: 65vw;
  }

  .main_button_more {
    width: 40vw;
    font-size: 6vw;
  }

  .main_wrapper {
    margin-top: 50%;
    height: 45vh;
  }

  .main {
    height: 80vh;
  }
}

@media all and (max-width: 415px) {
  .main_wrapper {
    margin-top: 60%;
  }
}