.main {
  margin-top: 110px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_wrapper {
  background-image: url('./../../images/roofExpNobg2.png');
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.animation_top {
  position: relative;
  background-image: url('./../../images/animationFor/anim_logo.png');
  background-size: 100% 100%;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 400px;
  height: 80px;
  top: 60px;
  margin: auto;
  animation-duration: 1.2s;
  animation-name: slidetop;
  z-index: 10;
}

.animation_left {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 34px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  width: 400px;
  top: 150px;
  right: -340px;
  height: 50px;
  justify-content: center;
  animation-duration: 2.4s;
  animation-name: slideleft;
  z-index: 30;
  pointer-events: none;
}



.animation_right {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 34px;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  width: 400px;
  top: 150px;
  right: -740px;
  height: 50px;
  justify-content: center;
  animation-duration: 2.5s;
  animation-name: slideright;
  z-index: 30;
  pointer-events: none;
}


.main_button_more {
  position: relative;
  bottom: -250px;
  left: calc(50% - (170px/2));
  background-image: url('./../../images/bg_button_2.png');
  color: white;
  border-radius: 5px;
  text-shadow: 2px 1px 1px black;
  font-size: 28px;
  width: 170px;
  height: 75px;
  outline-style: outset;
  outline-width: 1.7px;
  outline-color: rgb(48, 48, 46);
  cursor: pointer;
  transition: .2s;
  transform: scale(1);
  animation-duration: 2.6s;
  animation-name: slidebottom;
}



.main button a {
  color: aliceblue;
}

.main_button_more:hover {
  transition: .2s ease-in;
  width: 172px;
  height: 77px;
}


@keyframes slidetop {
  from {
    top: -30px;
  }

  to {
    top: 60px;
  }
}

@keyframes slideleft {
  from {
    right: 400px;
  }

  to {
    right: -340px;
  }
}

@keyframes slideright {
  from {
    right: -1500px;
  }

  to {
    right: -740px;
  }
}

@keyframes slidebottom {
  from {
    bottom: -500px;
  }

  to {
    bottom: -250px;
  }
}