.payment_wrapper {
    flex: 1 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}

.payment_bg {
    background-image: url('./../../images/payment_bg.png');
    background-size: 100% 100%;
    margin: 0 auto;
    display: flex;
    width: 90%;
    height: 100vh;
}

.payment {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
}

.payment_header {
    color: #53524f;
    font-size: 4vw;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

p {
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
    color: #53524f;
    font-size: 30px;
    width: auto;
}


/* MEDIA QUERY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1
!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (max-width: 916px) and (min-height: 415px) {
    .payment_wrapper {
        margin-top: 0px;
    }
}

@media all and (max-width: 859px) {
    .payment_wrapper {
        margin-top: 35vh;
        padding-bottom: 20px;
    }
}



@media all and (max-width: 598px) {
    .payment_header {
        font-size: 40px;
    }

    .payment p {
        font-size: 4.2vw;
    }

    .payment_bg {
        height: 70%;
    }

    .payment_wrapper {
        height: auto;
    }

    .payment {
        width: 100%;
    }
}

@media all and (max-width: 450px) {
    .payment_bg {
        width: 90%;
        min-height: 60vh;
    }

    .payment_wrapper {
        min-height: auto;
    }

    .payment_header {
        font-size: 8vw;
    }

    .payment p {
        font-size: 4.8vw;
    }
}


@media all and (max-width: 380px) {
    .payment p {
        font-size: auto;
    }
}

@media only screen and (max-height: 415px) {
    .payment_wrapper {
        margin-top: 25vh;
        height: auto;
    }

    .payment_bg {
        height: auto;
        padding-bottom: 20px;
    }

    .payment_header {
        font-size: 5vw;
    }

    .payment p {
        font-size: 3vw;
    }

}


/* ///////////////////////4k///////////////////// */


@media all and (min-width: 2560px) {
    .payment p {
        font-size: 65px;
    }
    .payment {
        height: auto;
        padding-bottom: 20px;
    }
}