.payment_wrapper {
    flex: 1 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
}

.payment_bg {
    background-image: url('./../../images/payment_bg.png');
    background-size: 100% 100%;
    margin: 0 auto;
    display: flex;
    width: 75%;
    height: 80%;
}

.payment {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.payment_header {
    color: #53524f;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 500;
    margin-top: 20px;
}

p {
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
    color: #53524f;
    font-size: 34px;
    width: 80vw;
}
