.product_main {
    margin-top: 110px;
    width: 100%;
    padding-bottom: 37px;
}

.product_wrapper {
    color: #53524f;
    margin: 0 auto;
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    border-left: 1px solid rgb(164, 160, 160);
    border-right: 1px solid rgb(164, 160, 160);
}

.product_title {
    font-size: 40px;
}

.product_description_short {
    margin-top: 12px;
    font-size: 18px;
}

.product_img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.product_tabs {
    margin-top: 30px;
    padding-bottom: 30px;

}

.product_description_title {
    padding-top: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.product_description_wrapper {
    margin: 0 auto;
    height: 100%;
    width: 85%;
}

.product_description {
    text-indent: 40px;
    text-align: left;
    font-size: 26px;
    margin-top: 30px;
    margin-left: 40px;
}

.tabs_header {
    font-size: 24px;
}

.applicate_wrapper {
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

.applicate_description h1 {
    padding-top: 30px;
    font-size: 36px;
    margin-top: 25px;
}

.applicate_description p {
    text-indent: 40px;
    font-size: 26px;
    text-align: left;
}

.applicate_description img {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 450px;
    height: 300px;
}

.specifications_table {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 30px;
    border: 1px solid rgb(184, 184, 197);
}

.specifications_table_row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 26px;
}

.specifications_table_row span:first-child {
    margin-left: 40px;
    font-weight: bold;
}

.specifications_table_row span:nth-child(2) {
    margin-right: 40px;
}

.specifications_wrapper h1 {
    padding-top: 30px;
    font-size: 36px;
}

.specifications_table_row:nth-child(even) {
    background-color: rgb(221, 216, 216);
}




