.product_main {
    margin-top: 110px;
    width: 100%;
    height: 100%;
}

.product_wrapper {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: 1px solid goldenrod;
}

.product_background {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: 100% 100%;
}