.main_products {
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-top: 110px;
    padding-bottom: 40px;
}

.products_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    gap: 40px;
    justify-content: space-around;

}

.preview_card {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    height: 500px;
    border: 1px solid red;
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer;
    transition: background-size .4s ease-in;
    -moz-transition: background-size .4s ease-in;
    -web-kit-transition: background-size .4s ease-in;
}


.preview_card:hover {
    background-position: center center;
    cursor: pointer;
    transition: background-size .4s ease-in;
    -moz-transition: background-size .4s ease-in;
    -web-kit-transition: background-size .4s ease-in;
    background-size: 110% 110%;
}



.title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;  
}

.description {
    margin-bottom: 300px;
    text-align: center;
}