.main_products {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-bottom: 40px;
}

.products_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    gap: 40px;
    justify-content: space-around;

}

.preview_card {
    color: #53524f;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 500px;
    border: 0.3px solid #ebecec;
    border-radius: 8px;
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer;
    transition: background-size .4s ease-in;
    -moz-transition: background-size .4s ease-in;
    -web-kit-transition: background-size .4s ease-in;
}


.preview_card:hover {
    background-position: center center;
    cursor: pointer;
    transition: background-size .4s ease-in;
    -moz-transition: background-size .4s ease-in;
    -web-kit-transition: background-size .4s ease-in;
    background-size: 110% 110%;
}



.title {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.description {
    text-indent: 20px;
    width: 90%;
    color: rgb(22, 22, 22);
    margin: 0 auto;
    margin-top: 30px;
    text-align: justify;
}