.main_products {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-bottom: 40px;
}

.products_wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    justify-content: space-around;
}

.preview_card {
    color: #53524f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0.3px solid #ebecec;
    border-radius: 10px;
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer;
    transition: background-size .4s ease-in;
    -moz-transition: background-size .4s ease-in;
    -web-kit-transition: background-size .4s ease-in;
    height: 500px;
}


.preview_card:hover {
    background-position: center center;
    cursor: pointer;
    transition: background-size .4s ease-in;
    -moz-transition: background-size .4s ease-in;
    -web-kit-transition: background-size .4s ease-in;
    background-size: 110% 110%;
}


.products_description {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 10px;
    width: 85%;
    display: inline-block;
    border-radius: 8px;
    background-color:rgba(235, 236, 236, 0.5);
}

.title {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.description {
    color: #53524f;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0px 10px 15px 10px;
    text-align: left;
}

.title_test {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 85%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color:rgba(235, 236, 236, 0.6);
}

.description_test {
    color: #53524f;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 85%;
    font-size: 18px;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 12px;
    background-color:rgba(235, 236, 236, 0.6);
}



/* MEDIA QUERY !!!!!!!!11111111111!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!111111111!!!!!!!!!!!!!!!!!!! */

@media all and (max-width: 1250px) {
    .products_wrapper {
        grid-template-columns: repeat(3, 27vw);
        gap: 20px;
    }

    .preview_card {
        height: 90vh;
    }
}

@media all and (max-width: 1050px) {
    .preview_card {
        height: 50vh;
    }
}

@media all and (max-width: 859px) {
    .main_products {
        margin-top: 36vh;
    }

    .products_wrapper {
        grid-template-columns: repeat(2, 50vw);
        gap: 10px;
        justify-content: space-evenly;
    }

    .preview_card {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 40vw;
        height: auto;
    }
}

@media all and (max-width: 530px) {

    .products_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main_products {
        padding-bottom: 10px;
    }


    .preview_card {
        margin-top: 15px;
        width: 90vw;
        height: 70vh;
    }
}

@media all and (max-width: 412px) {
    .preview_card {
        height: 60vh;
    }
}

@media all and (max-width: 340px) {
    .preview_card {
        height: auto;
    }

    .description {
        text-indent: 0px;
        font-size: 5.5vw;
    }
}

@media all and (max-width: 290px) {
    .preview_card {
        height: auto;
    }
}


@media only screen and (max-height : 415px) {
    .preview_card {
        height: auto;
    }

    .description {
        font-size: 3vh;
    }
}

@media only screen and (max-height : 400px) {
    .products_wrapper {
        grid-template-columns: repeat(2, 44vw);
    }

    .preview_card {
        height: auto;
        width: 45vw;
    }

    .description {
        font-size: 3vh;
    }
}




/* /////////////////////4k//////////////////// */


@media all and (min-width: 2560px) {

    .products_wrapper {
        grid-template-columns: repeat(3, 30%);
        gap: 20px;
    }

    .preview_card {
        width: 32vw;
        height: 55vh;
    }

    .title {
        margin-top: 25px;
        font-size: 50px;
    }

    .description {
        font-size: 1.4vw;
    }

}