.main {
  margin-top: 30vh;
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main_wrapper {
  background-image: url('./../../../images/roof_bg_quality_rework.png');
  background-size: 100% 100%;
  height: 100vh;
  width: 80%;
  margin: 0 auto;

}

.animation_top {
  position: relative;
  background-image: url('./../../../images/animationFor/anim_logo.png');
  background-size: 100% 100%;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 450px;
  height: 80px;
  top: 7vh;
  margin: 0 auto;
  animation-duration: 1.2s;
  animation-name: slidetop;
  z-index: 10;
}

.animation_left {
  position: relative;
  display: inline-block;
  align-items: center;
  color: white;
  font-size: 42px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  /* width: 400px; */
  top: 15vh;
  right: -15%;
  height: 50px;
  justify-content: center;
  animation-duration: 2.4s;
  animation-name: slideleft;
  z-index: 30;
  pointer-events: none;
}



.animation_right {
  display: inline-block;
  position: relative;
  align-items: center;
  color: white;
  font-size: 42px;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  width: auto;
  top: 19vh;
  right: -17%;
  height: 50px;
  justify-content: center;
  animation-duration: 2.5s;
  animation-name: slideright;
  z-index: 30;
  pointer-events: none;

}

.main_wave {
  margin-top: -300px;
}

.about_description {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  /* margin-top: 40px; */
  color: #53524f;
  border-bottom: 1px solid #53524f;
  padding-bottom: 30px;
}

.about_description h1 {
  text-align: center;
  color: #53524f;
  font-size: 50px;
  border-bottom: 1px solid #53524f;
}

.main_about_description_button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-image: url('./../../../images/bg_button_2.png');
  color: white;
  background-size: 100% 100%;
  border-radius: 5px;
  text-shadow: 2px 1px 1px black;
  font-size: 28px;
  width: 230px;
  height: 80px;
  outline-style: outset;
  outline-width: 1.7px;
  outline-color: rgb(48, 48, 46);
  cursor: pointer;
  margin-top: 30px;
}

.main_products {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}

.products_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

.main_products h1 {
  color: #53524f;
  font-size: 50px;
  border-bottom: 1px solid #53524f;
  display: inline-block;
}

.preview_card {
  color: #53524f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.3px solid #ebecec;
  border-radius: 10px;
  background-size: 100% 100%;
  background-position: center center;
  cursor: pointer;
  transition: background-size .4s ease-in;
  -moz-transition: background-size .4s ease-in;
  -web-kit-transition: background-size .4s ease-in;
  margin-top: 40px;
  width: 48%;
  height: 70vh;
}

.title_test {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  width: 85%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  background-color: rgba(235, 236, 236, 0.6);
}

.description_test {
  color: #53524f;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 85%;
  font-size: 18px;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  padding-top: 12px;
  background-color: rgba(235, 236, 236, 0.6);
}

.preview_card:hover {
  background-position: center center;
  cursor: pointer;
  transition: background-size .4s ease-in;
  -moz-transition: background-size .4s ease-in;
  -web-kit-transition: background-size .4s ease-in;
  background-size: 110% 110%;
}





@keyframes slidetop {
  from {
    top: -20vh;
  }

  to {
    top: 7vh;
  }
}

@keyframes slideleft {
  from {
    right: 50%;
  }

  to {
    right: -15%;
  }
}

@keyframes slideright {
  from {
    right: -75%;
  }

  to {
    right: -17%;
  }
}

@keyframes slidebottom {
  from {
    bottom: -80%;
  }

  to {
    bottom: -36%;
  }
}


/* media//////////////////////////////////// */

@media all and (max-width: 1024px){
  .main {
    margin-top: 20vh;
  }

  .main_wrapper {
    height: 85vh;
  }
  .main_wave {
    margin-top: -22vw;
  }
  .animation_top {
    width: 30vw;
    height: 8vh;
    top: 17vh;
    animation-duration: 1.2s;
    animation-name: slidetop_1024;
  }

  .animation_left {
    font-size: 3.8vw;
    display: inline-block;
    width: auto;
    top: 150px;
    right: -5%;
    animation-duration: 2.4s;
    animation-name: slideleft_4k;
  }

  .animation_right {
    display: inline-block;
    font-size: 3.8vw;
    width: auto;
    top: 190px;
    right: -5%;
    animation-duration: 2.5s;
    animation-name: slideright_4k;
  }
}

@keyframes slidetop_1024 {
  from {
    top: -25%;
  }

  to {
    top: 17vh;
  }
}

@keyframes slideleft_1024 {
  from {
    right: 150%;
  }

  to {
    right: 8%;
  }
}

@keyframes slideright_1024 {
  from {
    right: -160%;
  }

  to {
    right: -50%;
  }
}




/* //////////////4k////////////////// */

@media all and (min-width: 1600px) {
  .main {
    margin-top: 20vh;
  }

  .main_wrapper {
    height: 75vh;
  }

  .main_wave {
    margin-top: -20vw;
  }

  .animation_top {
    width: 30vw;
    height: 8vh;
    top: 7vh;
    animation-duration: 1.2s;
    animation-name: slidetop_4k;
  }

  .animation_left {
    font-size: 3.8vw;
    display: inline-block;
    width: auto;
    top: 200px;
    right: -5%;
    animation-duration: 2.4s;
    animation-name: slideleft_4k;
  }

  .animation_right {
    display: inline-block;
    font-size: 3.8vw;
    width: auto;
    top: 350px;
    right: -5%;
    animation-duration: 2.5s;
    animation-name: slideright_4k;
  }

  .main_about_description_button {
    font-size: 2vw;
    width: 15vw;
    height: 8vh;
    margin-top: 30px;
  }

  .about_description p {
    font-size: 2vw;
  }

  .about_description h1 {
    font-size: 3.2vw;
  }

  .main_products h1 {
    font-size: 3.2vw;
  }

  .preview_card {
    height: 55vh;
  }

  .title_test {
    font-size: 1.8vw;
  }

  .description_test {
    font-size: 1.4vw;
  }

}




@keyframes slidetop_4k {
  from {
    top: -15%;
  }

  to {
    top: 7vh;
  }
}

@keyframes slideleft_4k {
  from {
    right: 100%;
  }

  to {
    right: -5%;
  }
}

@keyframes slideright_4k {
  from {
    right: -74%;
  }

  to {
    right: -5%;
  }
}